body{
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}
/*
h2{
	font-size: 22px;
	font-weight: normal;
	color: yellow;
	font-family: 'PT Sans';
	line-height: 20px;
}
h3{
	font-size: 22px;
	font-weight: normal;
	color: blue;color: blue;
	font-family: 'PT Sans';
	line-height: 30px;
}*/

/*PTSans*/
@font-face{
	font-family: "PTSans-Regular";
	src: url("../fonts/ptsans.woff") format("woff"),
		url("../fonts/ptsans.woff2") format("woff2");
}
/*@font-face{
	font-family: "PTSans-Regular-Bold";
	src: url("../fonts/ptsans.woff2") format("woff2");
}*/
@font-face{
	font-family: "PTSans-Bold";
	src: url("../fonts/ptsansbold.woff") format("woff"),
		url("../fonts/ptsansbold.woff2") format("woff2");
}
/*@font-face{
	font-family: "PTSans-Bold-Bold";
	src: url("../fonts/ptsansbold.woff2") format("woff2");
}*/


/*sedona-symbols*/
@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */








/*header*/
.header{
	background-color: white;
	width: 1200px;
	min-height: 57px;
	margin: 0 auto;
	/*padding: 0;*/
}
.nav-menu-left ul,
.nav-menu-right ul{
	margin: 0;
	padding: 0;
}
.nav-menu-left ul li{
	list-style: none;
	float:left;
	text-align: center;
	padding: 23px 78px 23px 70px;
}
.nav-menu-left a,
.nav-menu-right a{
	text-decoration: none;
	font-family: "PTSans-Bold";
	font-size: 14px;
	color: #000000;
	text-transform: uppercase;
}
.nav-menu-left a:hover,
.nav-menu-right a:hover{
	color: #a3c7de;
}
.nav-menu-left a:active,
.nav-menu-right a:active{
	color: #c7c7c7;
}
.nav-logo{
	float: left;
	margin: auto 52px auto 60px;
}
.nav-logo img{
	/*height: 71px;*/
}

.nav-menu-right ul li{
	list-style: none;
	float: left;
	text-align: center;
	padding: 23px 70px 23px 78px;
}




/*section in sedona-index.html*/
.section{
	width: 1200px;
	margin: 0 auto;
}
.section-top{
	background-image: url("../img/content/welcome-sedona-image-second.jpg");
	background-repeat: no-repeat;
	width: 1200px;
	background-size: 1200px;
}
.section-top-welcome{
	padding-top: 130px;
	text-align: center;
}
.section-top-gorgeous{
	padding-top: 5px;
	text-align: center;
	margin: 0;
	padding-bottom: 0;
}
.section-top-sedona{
	text-align: center;
	margin-top: 50px;
}
.section-top-canyon{
	text-align: center;
	margin-top: 50px;
}

.section-top-footer{
	background-image: url("../img/content/background-fon.png");
	text-align: center;
	background-repeat: no-repeat;
    margin-top: 36px;
}
.section-top-footer h3{
	padding-top: 109px;
	margin:0 360px;
	margin-bottom: 40px;
	width: 470px;
    font-family: "PTSans-Bold";
    font-weight: bolder;
	font-size: 21px;
	text-transform: uppercase;
	/*text-shadow: 0 0 1px;*/
}
.section-top-footer p{
	margin: 0;
	padding-bottom: 50px;
	color: #333333;
	font-family: "PTSans-Regular";
	font-size: 14px;
	color: #696969;
	text-transform: uppercase;
}


/*section-info in sedona-index.html level 1*/


.section-info-first{
	background-color: #81b3d2;
	height: 257px;
	width: 1200px;
}
.section-info-first-container{
	text-align: center;
	width: 400px;
	height: 257px;
	float: left;
	font-family: "PTSans-Regular",sans-serif;
	color: #f2f2f2;
	text-transform: uppercase;
}

.section-info-first-container h3{
	margin-left: 95px;
    margin-right: 95px;
    margin-top: 47px;
    margin-bottom: 30px;
    font-size:21px;
}
.section-info-first-container p{
	color: #ddebf3;
}

.section-info-first-container p:last-child{
	margin-top: 30px;
	margin-bottom: 47px;
	margin-left: 55px;
	margin-right: 55px;
	font-size: 14px;
}
.section-info-first-image{
	background-image: url("../img/content/sedona-city.jpg");
	background-repeat: no-repeat;
	background-size: 800px;
	background-position: 0 -80px;
	float: left;
	width: 800px;
	height: 257px;
}

/*section-info in sedona-index.html level 2*/


.section-info-second{
	background-color: #ffffff;
	text-transform: uppercase;
}

.section-info-second-block{
	text-align: center;
	float: left;
	width: 400px;
	font-family: "PTSans-Regular";
}
.section-info-second-block img{
	margin-top: 62px;
}
.section-info-second-block h3{
	font-family: "PTSans-Bold";
	font-size: 21px;
	font-weight: bolder;
	margin: 32px auto;
	/*text-shadow: 0 0 1px;*/
}
.section-info-second-block p{
	color: #4e4e4e;
	line-height: 20px;
	font-size: 14px;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 90px;
	color: #7d7d7d;
}


/*section-info in sedona-index.html level 3*/


.section-info-third{
	background-color: #81b3d2;
	text-transform: uppercase;
	color: white;
}
.section-info-third-image{
	float: left;
	width: 800px;
	height: 279px;
	background-image: url("../img/content/sedona-landscape.jpg");
	background-repeat: no-repeat;
	background-size: 800px;
	background-position: 0 -75px;
}
.section-info-third-container{
	float: left;
	text-align: center;
	width: 400px;
	font-family: "PTSans-Regular",sans-serif;
	color: #eef5f9;
}
.section-info-third-container h3{
	font-family: "PTSans-Bold";
	margin-top: 50px;
	margin-left: 124px;
	margin-right: 125px;
	margin-bottom: 30px;
	color: #ffffff;
	font-size: 21px;
}
.section-info-third-container p:first-child{
	font-size: 14px;
}
.section-info-third-container p:last-child{
	margin: 30px 40px;
	color: #ddebf3;
	font-size: 14px;
	line-height: 25px;
}


/*section-info in sedona-index.html level 4*/

/*
.section-info-last{
	background-color: #ff0040;
}*/
.section-info-last-container{
	text-align: center;
	float: left;
	width: 400px;
	height: 257px;
	text-transform: uppercase;
	font-family: "PTSans-Regular", sans-serif;
}
.section-info-last-container h3{
	margin-top: 52px;
	margin-right: 140px;
	margin-left: 140px;
	font-family: "PTSans-Bold";
	font-size: 21px;
}
.section-info-last-container p:last-child{
	font-size: 14px;
	margin-bottom: 65px;
	margin-left: 60px;
	margin-right: 60px;
	word-spacing: 2px;
	line-height: 25px;
	color: #656565;
}


.section-info-last-footer{
	text-transform: uppercase;
    padding: 32px 320px 0 320px;
	text-align: center;
	background-color: #ffffff;
	font-family: "PTSans-Regular";
}
.section-info-last-footer h2{
	font-weight: normal;
	font-size: 30px;
}
.section-info-last-footer p{
	margin-top: 40px;
	margin-bottom: 50px;
	font-size: 14px;
	line-height: 25px;
	color: #333333;
}
.section-info-last-footer button{
	display: inline-block;
	font-family: "PTSans-Bold";
    text-transform: uppercase;
    width: 569px;
    height: 86px;
    font-size: 21px;
	background-color: #766357;
	color:#ffffff;
	border: 0;
}

.section-info-last-footer button:hover{
	background-color: #604e43;
}
.section-info-last-footer button:active{
	background-color: #503e33;
	color: #857871;
}

/*footer*/
.footer{
	width: 1200px;
	background-image: url("../img/content/local-map.jpg");
	background-repeat: no-repeat;
	background-size: 1200px 666px;
    height: 666px;
	margin: 0 auto;
}
.footer-form{
	width: 569px;
	background-color: #ffffff;
	position: relative;
	top: 15px;
	left: 320px;
}

.footer-form form label{
	display: inline-block;
	margin-left: 50px;
	margin-top: 50px;
	font-weight: bolder;
	font-size: 14px;
	text-transform: uppercase;
	font-family: "PTSans-Regular";
}
.footer-form form label.not{
	margin-left: 60px;
}
.footer-bottom{
	background-color: rgba(255,255,255,0.7);
	margin-top: 180px;
}
.footer-down{
	width: 1200px;
	margin: 0 auto;
	background-color: rgb(255,255,255);
}
.footer-element h3{
	float: left;
	text-align: center;
	width: 210px;
	margin: 30px 0;
}
.footer-element h3 a {
	font-family: "PTSans-Bold";
	font-size: 21px;
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
}
.footer-element .dot{
	float: left;
	margin: 20px 220px auto 310px;
}
.footer-element .dot a{
	float: left;
	width: 40px;
	height: 40px;
	background-color: #81b3d2;
	margin-left: 5px;	
	color: #ffffff;
	text-align:center;
}
.footer-element .dot a span{
	font-size: 25px;
	display: inline-block;
	margin-top: 6px;
}
.footer-element .dot a:hover{
	background-color: #669ec0;
}
.footer-element .dot a:active{
	background-color: #5496bd;
	color: #88b6d1;
}


.htmlacademy{
	float:right;
	margin-top: 20px;
	margin-right: 20px;
}
.htmlacademy div:first-child{
	float: left;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font-family: "PTSans-Regular";
	font-size: 14px;
	font-weight: normal;
	margin: 10px;
}
.htmlacademy a {
	background-image: url("../img/decoration/htmlacademy-logo.png");
	background-size: 120px;
	background-repeat: no-repeat;
	width: 120px;
	height: 40px;
	float: right;
}
.htmlacademy a:hover{
	background-image: url("../img/decoration/htlacademy-logo-blue.png");
}
.htmlacademy a:active{
	background-image: url("../img/decoration/htmlacademy-logo.png");
	opacity: 0.4;
}
.clear{
	clear: both;
}

/*form*/
form,
form div:not(div:nth-child(3)):not(div:nth-child(4)){
	width: 560px;
	margin: 0 auto;
}
form div:nth-child(3){
	float: left;
}
form div:nth-child(4){
	float: left;
}
input{
	background-color: #f2f2f2;
	border: 0;
}
input[type="date"].date-in{
	margin-left: 27px;
}
input[type="date"]{
	font-family: "PTSans-Bold";
	text-transform: uppercase;
	height: 38px;
	width: 310px;
	margin-left: 22px;
	margin-top: 40px;
}
input[type="number"]{
	font-family: "PTSans-Bold";
	height: 28px;
	width: 40px;
	margin-top: 42px;
}
input[type="number"]:active{
	background:: 2px solid #e5e5e5;
	background-color: #ffffff;
}
input[type="date"]:active{
	background:: 2px solid #e5e5e5;
	background-color: #ffffff;
}
input[type="submit"]{
	margin: 56px 50px;
    width: 458px;
    height: 58px;
    text-align: center;
    font-size: 21px;
    color: #ffffff;
    background-color: #81b3d2;
	text-transform: uppercase;
	font-family: "PTSans-Regular";
}
input[type="submit"]:hover{
	background-color: #669ec0;
    color: #ffffff;
}
input[type="submit"]:active{
	background-color: #5496bd;
    color: #88b6d1;
}
.footer>.footer-form>form>.not{
	margin-left: 51px;
}
.footer>.footer-form>form>.not+.btn-minus{
	margin-left: 28px;
}
form div label{
	float: left;
}
form div input[type="date"],
form div input[type="number"]{
	float: left;
}
.btn-calendar{
	float: left;
	height: 38px;
	margin-top: 40px;
	background-color: #f2f2f2;
	color: #a9a9a9;
	border:0;
}
.btn-minus{
	float: left;
	margin-left:42px;
	margin-top: 42px;
    height: 30px;
    border: 0;
    background-color: #f2f2f2;
    color: #a9a9a9;
}
.btn-plus{
	margin-top: 42px;
	float: left;
	height: 30px;
    border: 0;
    background-color: #f2f2f2;
    color: #a9a9a9;
}
.btn-calendar:hover,
.btn-minus:hover,
.btn-plus:hover{
	color: #000000;
}
.btn-calendar:active,
.btn-minus:active,
.btn-plus:active{
	color: #81b3d2;
}

/*section in sedona-hotels.html*/
.header-second{
	width: 1200px;
	height: 220px;
	background-image: url("../img/background/background-sedona-hotel.jpg");
	margin: 0 auto -20px auto;
	padding: 0;
	font-family:"PTSans regular", sans-serif;
	text-transform: uppercase;
	color: #ffffff;
}

.header-second-block1{
	float: left;
	margin-left: 70px;
}
.header-second-block2{
	float: left;
	margin-left: 70px;
}
.filter-range{
	float: right;
	margin-right:50px;
	margin-top: 20px;
}

/*filter-range in sedona-hotel.html*/
.filter-range {
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
  font-family:"PTSans-Regular";
}
.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}
.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
.range-controls {
  position: relative;
  margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle:hover {
  background: #1c4f80;
}
.range-toggle-min {
  left: 0;
}
.range-toggle-max {
  left: 80%;
}
.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}
.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

input[type="checkbox"]{
	display: none;
}
input[type="checkbox"]+label{
	display: block;
	position: relative;
	cursor: pointer;
	line-height: 10px;
	margin: 10px 0;
	padding-left: 40px;
	font-size: 14px;
}
input[type="checkbox"]+label::before{
	content: "\2610";
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	font-family: "symbols-sedona";
	font-size: 26px;
}
input[type="checkbox"]:checked+label::before{
	content: "\2611";;
}
input[type="checkbox"]+label:active{
	color: #6a6a6a;
}
input[type="checkbox"]:checked+label:active{
	color: #6a6a6a;
}


/**/
.footersection{
	width: 1200px;
	margin:0 auto;
	font-family:"PTSans-Regular";
	text-transform: uppercase;
}

.footersection-menu-first{
	background-color: white;
	border-bottom: 1px solid #e5e5e5;
	height: 85px;
}
.footersection-menu-first h3,
.footersection-menu-first p,
.footersection-menu-first li{
	float: left;
}
.footersection-menu-first h3{
	margin-left: 70px;
	margin-top: 30px;	
	font-family:"PTSans-Bold";
	font-size: 21px;
}
.footersection-menu-first p{
	font-family:"PTSans-Regular";
	font-size: 12px;
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 35px;
}
.footersection-menu-first li{
	list-style: none;
	margin-right: 40px;
	margin-top: 30px;
	text-decoration: none;
}
.footersection-menu-first li a {
	text-decoration: none;
	font-family:"PTSans-Regular";
	font-size: 12px;
	color: #c7c7c7;
	border-bottom: 1px dashed #81b3d2;
}
.footersection-menu-first li a:hover{
	color: #81b3d2;
}
.footersection-menu-first li a:active{
	color: #000000;
	border: 0;
}
.footersection-menu-first .icon-up-dir{
	content:"\25b2";
	
}
.footersection-menu-first .icon-down-dir{
	content:"\25bc";
    margin-right: 85px;
}
.footersection-menu-first .icon-down-dir,
.footersection-menu-first .icon-up-dir{
	float: right;	
    width: 20px;
	height: 20px;
	color: #cccccc;
	margin-top: 30px;
	font-size: 23px;
}
.footersection-menu-first .icon-down-dir:hover,
.footersection-menu-first .icon-up-dir:hover{
	color: #000000;
}
.footersection-menu-first .icon-down-dir:active,
.footersection-menu-first .icon-up-dir:active{
	color: #81b3d2;
}


.footersection-menu-block {
	width: 1200px;
	height: 150px;
	background-color: #ffffff;
	border-bottom: 1px solid #e5e5e5;
	font-family:"PTSans-Regular";
}
.block-one{
	float: left;
}
.block-one img{
	margin-left: 70px;
	margin-top: 30px;
	margin-right: 30px;
	width: 135px;
}
.block-two{
	float: left;
}
.block-two h2 a{
	text-decoration: none;
	font-size: 21px;
	margin-top: 25px;
	font-family:"PTSans-Bold";
	color: #000000;
}
.block-two h2 a:hover{
	color: #81b3d2;
}
.block-two h2 a:active{
	color: #b2b2b2;
}

.block-two label{
	font-size: 14px;
	font-family:"PTSans-Regular";
}
.block-two-section{
	width:230px;
}
.block-two-section-first{
	float: left;
	width: 110px;
}
.block-two-section-last{
	float: right;
	width: 110px;
	margin-left: 7px;
}
.block-two-section-first .button-info{
	width: 110px;
	margin-top: 13px;
}
.block-two-section-first .button-info a{
	width: 110px;
	background-color: #81b3d2;
	font-family: "PTSans-Bold";
	text-decoration: none;
	font-size: 14px;
	color: white;
	padding: 5px 17px;
	margin-top: 10px; 
}
.block-two-section button{
	height: 28px;
	margin-top: 10px; 
	text-transform: uppercase;
	font-family: "PTSans-Bold";
	color: #ffffff;
	font-size: 14px;
}
.block-two-section-last button{
	width: 143px;
	background-color: #766357;
	border: 0;
	border-radius: 0;
}
.block-two-section-first a:hover{
	background-color: #669ec0;
}
.block-two-section-last button:hover{
	background-color: #604e43;
}
.block-two-section-first a:active{
	background-color: #5496bd;
	color: #88b6d1;
}
.block-two-section-last button:active{
	background-color: #503e33;
	color: #7e7169;
}
.block-three{
	float: right;
	width: 110px;
	height: 28px;
	margin-top: 95px;
	margin-right: 30px;
	background-color: #f2f2f2;
}
.block-three p{
	color: #8b8b8b;
	margin: 5px;
	text-align: center;
	font-family: "PTSans-Regular";
	font-size: 14px;
}
.footer-hotel{
	width: 1200px;
	margin: 0 auto;
}