body{
	font-size: 12px;
	color: green;
	font-family: 'PT Sans';
	font-weight: bold;
	line-height: 10px;
}

h2{
	font-size: 22px;
	font-weight: normal;
	color: yellow;
	font-family: 'PT Sans';
	line-height: 20px;
}
h3{
	font-size: 22px;
	font-weight: normal;
	color: blue;color: blue;
	font-family: 'PT Sans';
	line-height: 30px;
}


/*header*/
.header{
	background-color: white;
	width: 1200px;
	height: 55px;
	margin: -20px auto auto auto;
}
.nav-menu-left ul li{
	float:left;
	background-color: red;
	margin-top: 20px;
	margin-right: 110px;
}
.nav-logo{
	/*background-color: green;*/
	float: left;
	margin-left: 100px;
	margin-right: 100px;
}
.nav-logo img{
	width: 140px;
	height: 70px;
}
.nav-menu-right ul li{
	background-color: red;
	float: left;
	margin-top: 20px;
	margin-left: 110px;
}

/*section in sedona-index.html*/
.section{
	/*background-color: #ff8000;*/
	width: 1200px;
	margin: 0 auto;
}
.section-top{
	background-image: url("../img/content/welcome-back.jpg");
	background-repeat: no-repeat;
	height: 770px;
	width: 1200px;
}
.section-top-welcome{
	/*background-color: #bfff00;*/
	padding-top: 75px;
	text-align: center;
}
.section-top-sedona{
	/*background-color: #80ff00;*/
	text-align: center;
}
.section-top-footer{
	background-color: white;
	text-align: center;
	height: 210px;
}
.section-top-footer h3{    
	padding-top: 80px;
    margin-top: 325px;
}


/*section-info in sedona-index.html level 1*/


.section-info-first{
	background-color: #81b3d2;
}
.section-info-first-container{
	text-align: center;
	width: 400px;
	height: 20px;
	float: left;
}
.section-info-first-container h3,
.section-info-first-container p{
	margin-top: 40px;
	margin-bottom: 20px;
}
.section-info-first-image img{
	width: 800px;
	height: 260px;
	float: left;
}


/*section-info in sedona-index.html level 2*/


.section-info-second{
	background-color: #ffffff;
}

.section-info-second-block{
	text-align: center;
	float: left;
	width: 400px;
	height: 335px;
}
.section-info-second-block img,
.section-info-second-block h3,
.section-info-second-block p{
	margin-top: 40px;
	margin-left: 65px;
	margin-right: 65px;
}

/*section-info in sedona-index.html level 3*/


.section-info-third{
	background-color: #81b3d2;
}
.section-info-third-image{
	float: left;
	width: 800px;
	height:260px;
}
.section-info-third-image img{
	width: 800px;
	height: 260px;
}
.section-info-third-container{
	float: left;
	text-align: center;
	height: 260px;
	width: 400px;
}
.section-info-third-container h3,
.section-info-third-container p{
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 50px;
	margin-right: 50px;
}

/*section-info in sedona-index.html level 4*/

/*
.section-info-last{
	background-color: #ff0040;
}*/
.section-info-last-container{
	text-align: center;
	float: left;
	width: 400px;
	height: 260px;
}
.section-info-last-container h3,
.section-info-last-container p{
	margin-top: 40px;
	margin-left: 65px;
	margin-right: 65px;
}

.section-info-last-footer{
	height: 295px;
	padding-top: 65px;
	text-align: center;
	background-color: #ffffff;
}


/*footer*/
.footer{
	/*background-color: #00ffff;*/
	width: 1200px;
	background-image: url("../img/content/local-map.jpg");
	margin: -20px auto 0 auto;
}
.footer-hotel{
	width: 1200px;
	margin: 0 auto;
}
.footer-form{
	width: 580px;
	height: 480px;
	padding-top: 5px;
	margin-left: 310px;
	margin-right: 310px;
	background-color: rgba(255,255,255,0.7);
	position: relative;
	bottom: 70px;
}
.footer-form h2{
	margin-top: -5px;
	padding: 20px 100px 20px 130px;;
	background-color: #8b603e;
}
.footer-form form label{
	display: inline-block;
	margin-left: 60px;
	margin-top: 50px;
}
.size{
	width: 120px;
}
.newsize{
	display: inline-block;
	margin-left: 60px;
	margin-top: 60px;
	width: 455px;
	height: 60px;
	text-align: center;
}
.footer-bottom{
	background-color: rgba(255,255,255,0.5);
}
.footer-bottom form{
	background-color: white;
	margin-left: 50px;
	margin-top: 30px;
}
.footer-bottom h3{
	float: left;
	width: 230px;
	padding: 0 60px;
	margin-right: 150px;
}
.footer-bottom a{
	float: left;
	background-color: blue;
	margin-left: 20px;
	margin-top: 10px;
}
.footer-bottom img{
	margin: 10px;
	width: 20px;
	height:20px;
}
.htmlacademy a,
.htmlacademy b{
	float: right;
	background-color: rgba(255,255,255,0);
}
.htmlacademy b{
	width: 90px;
    margin-right: -30px;
    margin-top: 20px;
}
.htmlacademy img{
	width: 115px;
	height: 35px;
}
.clear{
	clear: both;
}


/*section in sedona-hotels.html*/
.header-second{
	width: 1200px;
	height: 240px;
	background-image: url("../img/background/background-sedona-hotel.jpg");
	margin: 0 auto;
}
.header-second-block1{
	margin-left: -730px;
	float: left;
	width: 240px;
}
.header-second-block2{
	margin-left: -510px;
	float: left;
}
.header-second-block3{
	float: right;
	margin-right: -80px;
	width: 330px;
}
.header-second-block3 h3{
	text-align: left;
}
.footersection{
	width: 1200px;
	margin:0 auto; ;
}

.footersection-menu-first{
	background-color: white;
	border-bottom: 1px solid gray;
	margin-top: -20px;
	height: 85px;
}
.footersection-menu-first h3,
.footersection-menu-first p,
.footersection-menu-first li{
	float: left;
	width: 120px;
	margin-top: 30px;
}
.footersection-menu-first h3{
	margin-left: 30px;
}

.footersection-menu-block {
	width: 1200px;
	height: 150px;
	background-color: white;
	border-bottom: 1px solid gray;
}
.block-one{
	float: left;
}
.block-one img{
	margin-left: 70px;
	margin-top: 30px;
	margin-right: 30px;
	width: 135px;
	height: 90px;
}
.block-two{
	float: left;
}
.block-three{
	float: right;
	margin-top: 50px;
	margin-right: 30px;
}